html,
body {
  height: 100%;
}
body {
  background-image: url(background.jpg);
  background-repeat: repeat;
}

.bgg {
  height: 5px;
  background-color: #e62b1e;
}

.logo {
  resize: both;
  width: 260px;
  height: 100px;
}

nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("thumb_COLOURBOX12089573.png");

  opacity: 0.8;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .nav-item {
  margin: 10px;
}

a:hover {
  color: #e62b1e !important;
  text-decoration: none !important;
}

nav .navList {
  color: white;
  text-decoration: none;
}

.content {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99)),
    url("thumb_COLOURBOX12089573.png");
  text-align: center;
  padding: 50px;
}

footer p {
  color: white;
}

i {
  color: white;
  margin: 10px;
}
